form {
    width: 300px;
    margin: 0 auto;
}

label {
    color: whitesmoke;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}

.checkbox {
    text-align: center;
    color: darkorange;
}

button {
    display: block;
    width: 100%;
    background-color: darkorange !important;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


button:hover {
    color: darkorange !important;
    background-color: darkslategrey !important;
}